<!DOCTYPE html>
<html>
<head>
    <title>Add Buyer</title>
</head>
<body>

<h2>Add Buyer Form</h2>

<form method="POST">

    <label>Name:</label><br>
    <input type="text" name="name" required><br><br>

    <label>Phone:</label><br>
    <input type="text" name="phone" required><br><br>

    <label>City:</label><br>
    <input type="text" name="city" required><br><br>

    <label>Crop:</label><br>
    <input type="text" name="crop" required><br><br>

    <label>Quantity:</label><br>
    <input type="text" name="quantity" required><br><br>

    <button type="submit">Add Buyer</button>

</form>

</body>
</html>